<div class="calendar__space">
    <h2 class="heading__style">My Calendar</h2>
    <div class="row">
        <div class="col-md-2" style="margin-top: 68px;">
            <button onclick="goToEvent()" class="btn btn__add-event">Add event</button>
            <button class="btn btn__add-meeting">Add meeting</button>
        </div>
        <div class="col-md-8">
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
        </div>
        <div class="col-md-2">
            <div ng-show="SelectedEvent" class="alert alert-success panel__style" style="margin-top:67px;">
                <h4 class="title__style">Selected Event:</h4>
                <h4 style="color:green">{{SelectedEvent.title}}</h4>
                <p class="text-small__style">Start: {{SelectedEvent.start}}</p>
                <p class="text-small__style">End: {{SelectedEvent.end}}</p>
                <br/>
                <button type="button" class="btn btn-edit__style btn-large" data-toggle="modal" data-target="#myModal1">Edit</button>
				<button type="button" class="btn btn-remove__style btn-large" data-toggle="modal" data-target="#myModal">Remove</button>
            </div>
        </div>
    </div>
	<!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Event?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete event {{SelectedEvent.title}} ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.deleteEvent()">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>

            </div>
        </div>

    <!-- Modal2 -->
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Event</h4>
                </div>
                <div class="modal-body">
                   
                        <div class="form-group has-success">
                            <label for="eventName" class="label__color">Event Title</label>
                            <input type="text" id="eventName" class="form-control" aria-describedby="eventTitle" ng-model="vm.eventData.title" required>
                        </div>
                    <div class="form-group">
                        <date-time-picker label="Event Start" model="vm.eventData.start" />    
                    </div>
                    <div class="form-group">
                        <date-time-picker label="Event End" model="vm.eventData.end" />
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.editEvent()">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>

       
<script src="http://www.datejs.com/build/date.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log('Script loaded');
        $('.fc-right').click(function () {
            $('#calendar').fullCalendar('refetchEvents');
            console.log('Clicked prev button');
        });

        $('.fc-next-button').click(function () {
            $('#calendar').fullCalendar('refetchEvents');
            console.log('Clicked next button');
        });
    });
</script>

    function goToEvent() {
        window.location.replace("/#/event");
    }
</script>
