
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
</head>
<body>
    <div>
        <h1>Menuuuu</h1> 
        <a href="~/Home/Index">Index</a>
    </div>
</body>
</html>
