<div class="profile__space container">
    <div class="row" ng-hide="vm.done">
        <div class="col-md-12">
            <div class="profile__loader">
                <img src="../images/ellipsis.gif" />
            </div>
        </div>
    </div>
    <div class="row" ng-hide="!vm.done">
        <div class="col-md-5">
            <h2 class="heading__style" ng-hide="vm.loggedUser.id != vm.user.id">
                My Profile
            </h2>
            <h2 class="heading__style" ng-hide="vm.loggedUser.id == vm.user.id">
                Profile
            </h2>
            <div class="">
                <h3 class="label__style">Name: {{vm.user.firstName}} {{vm.user.lastName}}</h3>

                <h3 class="label__style">Email: {{vm.user.email}}</h3>
            </div>
        </div>
        <div>

        </div>
        <div class="col-md-4" ng-hide="vm.loggedUser.id != vm.user.id">
            <h2 class="heading__style">Search Users:</h2>
            <angucomplete-alt id="ex1"
                              placeholder="Search users..."
                              pause="100"
                              selected-object="vm.selectUser"
                              local-data="vm.users"
                              search-fields="firstName"
                              title-field="firstName"
                              minlength="1"
                              input-class="form-control form-control-small" />

        </div>
        <div class="col-md-6" ng-hide="vm.loggedUser.id != vm.user.id">
            <button class="btn btn__add-event-pr" onclick="goToEvent()">Add event</button>
            <button class="btn btn__add-meeting-pr">Add meeting</button>
        </div>
        <div class="col-md-6 btn-connect" ng-hide="vm.loggedUser.id == vm.user.id">
            <br />
            <button class="btn btn-default btn__connection" ng-show="vm.connect" ng-click="vm.connectUsers()"><i class="fa fa-user-plus"></i>&nbsp;Connect</button>
            <button class="btn btn-default btn__connection disabled" ng-show="!vm.connect && !vm.connected && vm.waiting">Waiting for response</button>
            <button class="btn btn-default btn__connection" ng-show="!vm.connect && !vm.connected && !vm.waiting" ng-click="vm.acceptConnection()"><i class="fa fa-check"></i>&nbsp;Accept</button>
            <button class="btn btn-default btn__connection disabled" ng-show="vm.connected"><i class="fa fa-user-plus"></i>&nbsp;Connected</button>
            <button class="btn btn-danger btn__connection" ng-show="!vm.connect && !vm.connected" ng-click="vm.deleteConnection()"><i class="fa fa-times"></i>&nbsp;Delete request</button>
            <button class="btn btn-danger btn__connection" ng-show="!vm.connect && vm.connected" ng-click="vm.deleteConnection()"><i class="fa fa-user-times"></i>&nbsp;Disconnect</button>
            <br />
            <button class="btn btn__add-meeting-pr" ng-hide="!vm.connected">Add meeting</button>
        </div>
    </div>
    <div class="row" ng-show="vm.done && vm.loggedUser.id != vm.user.id && vm.connected">
        <div class="col-md-12">
            <br />
            <br />
            <h2 class="heading__style">{{vm.user.firstName}}'s calendar</h2>
            <div id="calendar" class="span8 calendar" ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources" calendar="calendar"></div>
        </div>
    </div>
</div>

<script>
    function goToEvent() {
        window.location.replace("/#/event");
    }

</script>

    