<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MeetMe</title>
    <!-- Concatenated CSS -->
    <link href="/dest/lib.css?rev=0f19b7940dc900c820311b53fb190082" rel="stylesheet">
    <link href="/dest/app.css?rev=7942652d5042d1367d81bef8de8aa563" rel="stylesheet">
    <link href="app/css/custom.css" rel="stylesheet">
    <link href="app/css/calendar.css" rel="stylesheet">
    <link href="app/css/event.css" rel="stylesheet">
    <link href="app/css/profile.css" rel="stylesheet">
</head>
<body ng-app="meet-me">
    <div class="navbar navbar-fixed-top" role="navigation" ng-controller="indexController">

    </div>

   <div class="navbar navbar-fixed-top navbar__style" role="navigation" ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="app/images/logo.png" class="logo__size" />
                </a>
            </div>
            <div class="collapse navbar-collapse" collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-hide="!authentication.isAuth"><a href="#" class="text-style">Welcome {{authentication.userName}}</a></li>
                    <li ng-hide="!authentication.isAuth"><a href="" class="text-style" ng-click="logOut()">Logout</a></li>
                    <li ng-hide="authentication.isAuth"> <a ui-sref="login" class="text-style">Login</a></li>
                    <li ng-hide="authentication.isAuth"> <a ui-sref="register" class="text-style">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ui-view class="demo main-page container main-page__margins"></div>

    <footer class="footer">
        <div class="row">
            <div class="col-md-4 left-footer">
                MEETme WEB Applcation
            </div>
            <div class="col-md-4">
                <ul class="footer-menu">
                    <li><a href="#" class="footer-link-style">Home</a></li>
                    <li class=""><a href="#" class="footer-link-style">Contact Us</a></li>
                    <li class=""><a href="#" class="footer-link-style">Technologies</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="icons">
                    <a href="#"><i class="fa fa-facebook-official icon-style"></i></a>
                    <a href="#"><i class="fa fa-twitter-square icon-style"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square icon-style"></i></a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Concatenated libraries -->
    <script src="/dest/lib.js?rev=34a19e125d8546b68247567581556b3f"></script>
    <!-- Concatenated application -->

    <script src="/dest/src.js?rev=499c224ad7959f1f1de71169712fae69"></script>

    <!-- All html templates -->
    <!--<script src="/dest/templates.js?rev=e10e812c1c54be38f6015cb3ec83fcd6"></script>-->
    </body>
</html>
